
<%= render 'form' %>

View All Records: <%= link_to 'Back', reportnumbers_path %>
<a href="https://preview.c9users.io/asitrshah/awaproject4/StyleSheet2.html?_c9_id=livepreview0&_c9_host=https://ide.c9.io"> Link to Home Page</a>
